.DS_Store
.task/
.env*
!.env.example
data/
bin/
tmp/
/gomi
/gomi-hypervisor
/wol-daemon
bootenv/.cache/
bootenv/dist/
bootenv/tmp/
web/node_modules/
web/dist/
web/*.tsbuildinfo
web/vite.config.js
web/vite.config.d.ts
packages/deb/*.deb
/packages/debian/.debhelper/
/packages/debian/build/
/packages/debian/prebuilt/
/packages/debian/debhelper-build-stamp
/packages/debian/files
/packages/debian/*.substvars
/packages/debian/gomi/
/*.build
/*.buildinfo
/*.changes
/*.deb
